<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <title>List your house</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/list-your-house.css">
    <link href="/img/favicon.png" rel="icon">
</head>

<body class="body">
  <div class="row">


    <div class="col-lg-6 no-apply-div">

    <h1 class="main-heading">Register Your House</h1>

      <form id="main-form" class="" action="/register-done" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="first-element col-lg-12 col-md-8">
            <input id="house-number" required type="text" name="houseNumber" class="first-input" value="" placeholder="House Number and Locality*">
          </div>
        </div>
        <div class="row">
          <div class="second-element col-lg-6 col-md-12">
            <input id="district" type="text" name="districtName" class="second-input" placeholder="District Name*" value="">
          </div>
          <div class="second-element col-md-12 col-lg-6">
            <!-- <div class="form-"> -->
              <select class="form-select form-select-sm form-class" aria-label=".form-select-sm example" name="state">
                <option selected>Choose your State*</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Odisha">Odisha</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Telangana">Telangana</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="Uttarakhand">Uttarakhand</option>
                <option value="West Bengal">West Bengal</option>
              </select>

            <!-- </div> -->
          </div>


        </div>

        <div class="row">
          <div class="form-1 col-lg-6 col-md-12">
            <select id="apartment-size" name="apartment" required class="form-select form-select-sm form-class" aria-label=".form-select-sm example">
              <option selected>Apartment Type*</option>
              <option value="2-BHK">2-BHK</option>
              <option value="3-BHK">3-BHK</option>
              <option value="Single Room">Single Room</option>
            </select>
          </div>

          <div class="form-1 col-lg-6 col-md-12">
            <select id="availiblity-period" name="availiblity"required class="form-select scrollable-menu form-select-sm form-class" aria-label=".form-select-sm example">
              <option selected>Available For:*</option>
              <option value="1-2 Months">1-2 Months</option>
              <option value="2-6 Months">2-6 Months</option>

              <option value=">6 Months">>6 Months</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-6 rent">

          <input type="number" id="rent" name="rent" required class="first-input rent-inner" placeholder="Rent Per Month(in ₹)*" name="" value="">
<i class="fa fa-inr" style="font-size:20px;"></i>
          <input type="number" id="area" name="area" required class="first-input area-inner" placeholder="Area(in sq.ft.)*" name="" value="">

                  </div>
        </div>

        <div class="row file-chooser">
          <label class="file-chooser-element" for="myfile">Image of Rooms:</label>
          <div class="col-lg-8 col-md-12 file-chooser-button">
        <i class="fa fa-upload inline" aria-hidden="true"></i>  <input accept="image/*" type="file" class="file-chooser-inner" id="myfile1" name="file">
          </div>
          <div class="col-lg-8 col-md-12 file-chooser-button">
        <i class="fa fa-upload inline" aria-hidden="true"></i><input accept="image/*" type="file" class="file-chooser-inner" id="myfile2" name="myfile">
          </div>
        </div>
         <div class="row description">
           <div class="col-lg-12">
               <textarea name="description" class="description-inner" style="height:200px;" placeholder="Describe you house in terms of location, facilities provided, electricity bills included in rent or not.....
               "></textarea>
           </div>

        </div>

  <div class="button-division">
  <button type="button" id="submit-button" name="button" class="btn btn-primary btn-lg submit-button">Register House</button>
  </div>





</div>
<div class="popup-final non-visible">
    <span class="confirmation">Are you confirm you want to list your house?</span>
    <br>
    <button type="button" name="button" id="cancel">Cancel</button>
    <button type="submit" name="button" id="continue">Confirm</button>
</div>

    </form>
      <div class="col-lg-6 right-division">
        <div class="">
        <img src="/img/registration-house.jpg" class="last-image" alt="image">
        </div>
        <div class="security-div shadow p-3 mb-5 bg-white rounded">
          <img src="/img/check-icon.png" style="width:10%;" alt="">
          <p>We keep your information secure. Your personal data and contacts will not
          be shared on site openly. Once the person who is genuinenly interested in owning your
        apartment contacts us, then only we will share your contact details.</p>

        </div>



      </div>
  </div>










    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/list-your-house.js">

  </script>
</body>




</html>
